<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="analyzer" value="C:\github\OddTrotter\Fx.Core\Analyzer1\Analyzer1.Package\bin\Debug"/>
    <add key="fxcore" value="C:\github\OddTrotter\Fx.Core\Fx.Core\bin\Debug"/>
    <add key="fxtest" value="C:\github\OddTrotter\Fx.Core\Fx.Test\bin\Debug"/>
    <add key="StandardGlobalConfig" value="C:\github\OddTrotter\Fx.Core\StandardGlobalConfig\bin\Debug"/>
  </packageSources>
</configuration>
