<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--TODO make this actually correct-->
    <add key="fxcoreanalyzer" value="C:\github\Fx.Core\source\Fx.Core.Analyzers\Fx.Core.Analyzers.Package\bin\Debug"/>
    <add key="fxcoreanalyzer2" value="C:\github\Fx.Core\source\Fx.Core.Analyzers\Fx.Core.Analyzers\bin\Debug"/>
  </packageSources>
</configuration>
