<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="true" />
    <add key="automatic" value="true" />
  </packageRestore>
    
  <packageSources>
    <!--<clear />--> <!--https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file-->
    <!--TODO make this actually correct-->
    <add key="fxcoreanalyzer" value="C:\github\Fx.Core\packages"/>
  </packageSources>
</configuration>
